<header>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark topnav">
     <a class="navbar-brand" href="#">
   <img src="../../../assets/Header/kkd_logo.png" width="60" height="60" alt="">
   </a>
     <div class="collapse navbar-collapse nav">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/help">Help</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/support">Support</a>
         </li>
       </ul>
       <form class="form-inline mt-2 mt-md-0">
         <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" [(ngModel)]="searchInput"/>
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)='sendToParent()'>Search</button>
       </form>
     </div>
   </nav>
 </header>
